<!DOCTYPE html>
<html>
<head>
  <title>Sidetracked</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true unless @alt %>
  <%= stylesheet_link_tag	 "application_alt", media: "all", "data-turbolinks-track" => true if @alt %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'partials/nav' %>
<%= yield %>

</body>
</html>
