<!DOCTYPE html>
<html>
<head>
  <title>Sidetracked</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<%= render partial: 'partials/nav' %>
<%= yield %>

</body>
</html>
