<!DOCTYPE html>
<html>
<head>
  <title>Sidetracked Administration</title>
  <%= stylesheet_link_tag	 "admin", media: "all", "data-turbollinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag("knockout-3.1.0", "data-turbolinks-track" => true) if @use_knockout %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body class="admin">

<%= yield %>

</body>
</html>
